body {
    background: rgb(186, 55, 55);
}

#titulo1 {
    text-align: center;
    font-size: 50px;
    color: rgb(246, 178, 241)
}

.p1 {
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.p2 {
    text-align: center;
    font-size: 30px;
    color: rgb(0, 0, 0) ;
    font-family:initial;
}

#img1 {
    display: block;
    margin: 0 auto;
    width: 50%
}

#titulo2 {
    text-align: center;
    font-size: 30px;
    color: rgb(232, 149, 253)
}

.u1 {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    font-size: 20px;
}

#img2 {
    width: 50%;
}

header {
    text-align: center;
    font-size: 50px;
    color: rgb(148, 50, 148)
}

.principal {
    background: rgb(202, 159, 241)
}

.beneficios {
    background: rgb(0, 0, 0);
}