body {
    background: rgb(186, 55, 55);
}

#titulo1 {
    text-align: center;
    font-size: 50px;
    color: rgb(246, 178, 241)
}

.p1 {
    text-align: center;
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.p2 {
    text-align: center;
    font-size: 24px;
    color: rgb(0, 0, 0) ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#img1 {
    display: block;
    margin: 0 auto;
    width: 50%
}

#titulo2 {
    text-align: center;
    font-size: 30px;
    color: rgb(232, 149, 253)
}

.u1 {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    font-size: 30px;
}

#img2 {
    width: 50%;
}

header {
    text-align: center;
    font-size: 50px;
    color: rgb(119, 146, 32)
}

.principal {
    background: rgb(226, 159, 241)
}

.beneficios {
    background: rgb(0, 0, 0);
}